# Dependencies
node_modules/

# Build
dist/
shellder-web-console/shellder/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Test / coverage
coverage/
.nyc_output/

# Prisma
shellder-agent-server/prisma/*.db

# Misc
*.tsbuildinfo
.turbo/
